@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
	box-sizing: border-box;
    font-family: 'MonteCarlo', cursive;
    font-size: 25px;
}
.section {
	padding: 10px;
}

.column {
    background-color: #4d88c0;
	float: left;
	min-width: 32%;
	padding: 20px;
	max-width: 30vw;
}
.column-text {
	float: left;
	min-width: 32%;
	padding: 20px;
	max-width: 60vw;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
.article-title {
	font-size: 50px;
	text-align:center;
    color: #4d88c0;
}
.p {
	color: #2f2831;font-size: 16px; text-align: center;
    font-size: 20px;
}

.h2,.h3 {
    text-align: center;
}

.h6 {
color: hsl(0, 0%, 4%);text-align: center;
}

.img {
	max-width: 100%;
}

.footer {
	background-color: #eeecec; padding: 16px; text-align: center;
}

@media screen and (max-width: 800px) {
.column {
	width: 100%;
}
}